/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Global styles and config.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 * HEADER
 * Header and navs.......Header and top/side navs.
 * BODY

 ...

**/

/*-------------------*\
GENERIC
\*-------------------*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
 
/*overrides grids.css container width*/

.container {
	margin: auto;
	margin-bottom: 0px;
	width: 100%;
	max-width: 1200px;
}

/*-------------------*\
HEADER
\*-------------------*/

#mountain-pic {
	width: 100%;
}
/*-------------------*\
NAV
\*-------------------*/

nav ul li, a{
	list-style-type: none;
	text-decoration: none;
	color: #F5F5F5;

}

.main-nav-container {
	background-color: #009688;
	margin: 0px;
	margin-top: 0px;
}

/*-------------------*\
MAIN
\*-------------------*/


h1 {
	color: #009688;
	border-left: 1px solid;
	padding-left: 40px
}


article {
	padding-right: 650px;
}

/*-------------------*\
FOOTER
\*-------------------*/

footer {
	background-color: #009688;
}

p {
	color: #F5F5F5;
}


