/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Global styles and config.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 * HEADER
 * Header and navs.......Header and top/side navs.
 * BODY

 ...

**/

/*-------------------*\
GENERIC
\*-------------------*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*-------------------*\
HEADERS & NAVS
\*-------------------*/

/*header styling */

h1, h2 {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

header {
	background: rgb(31, 40, 49);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	border: 0px;
	position: relative;
}

/*nav-bar styling*/

.nav-bar-style  ul  li  a {
	text-decoration: none;
	color: white;
	font-size: 17px;
	display: block;
	width: auto;
	height: auto;
}

.nav-bar-style ul li {
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 3px;
	text-align: center;
	padding: 3px;
}

/*top-nav*/

#top-nav {
	position: absolute;
	top: 5px;
	right: 5px;
}

#top-nav li {
	float:left;
}

/*left-nav*/

aside {
	float: left;
	background-color: rgb(31, 40, 49);
	width: 200px;
	position: relative;
}

#left-nav {
	position: absolute;
 	right: 5px;
 	top: 5px;
 	background-color: rgb(31, 40, 49);
 	z-index: 10;
 	margin-top: 0px;
 	height: 1000px;

}

#left-nav ul li  {
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
}


/*-------------------*\
BODY
\*-------------------*/

body {
	background: black;
	height: 100%;
	width: 100%;

}

p {
	color: white;
	width:1000px;
	line-height: 20px;
}

main {
	clear: both;
	margin-left: 220px;
}

#death-star-pic {
	width:400px;
	clear: both;
}
/*-------------------*\
FOOTER
\*-------------------*/

footer {
padding-left: 220px;
margin-top:400px;
}








